/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #222831;
  background-color: #eeeeee;
}

h1,
h2,
h3 {
  font-size: 36px;
  font-family: 'Playfair Display', serif;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}

main a {
  color: #ffd369;
  text-decoration: none;
}

main a:hover {
  color: #222831;
  text-decoration: overline 2px solid;
}

header {
  padding: 40px 0;
  background-color: #ffd369;
  color: #222831;
}
nav a {
  padding-right: 20px;
  color: #eeeeee;
  text-decoration: none;
}
nav a:hover {
  color: #ffd369;
  text-decoration: overline 2px solid;
}
nav {
  background-color: #222831;
  padding: 12px;
  font-family: 'Lato', sans-serif;
}

form input {
  display: block;
  margin: 30px;
  font-family: 'Lato', sans-serif;
}

form textarea {
  display: block;
  margin: 30px;
  font-family: 'Lato', sans-serif;
}

form button {
  display: block;
  margin: 30px;
  font-family: 'Lato', sans-serif;
}