@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #ec524b;
    color: #f3eac2;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    
}

.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color: #f3eac2;
    padding: 1rem;
    display: block;
}


.banner img {
    width: 100%;
}

.subhead {
    color: #ec524b;
    font-family: 'Roboto Slab', serif;
    
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #ec524b;
}

.home-page {
    background-color: #f3eac2;
}

.home-page-images img {
    border-radius: 17px;
    width: 100%;
    box-shadow: 0px 8px 10px rgb(122, 122, 122);
}

.hours-page {
    background-color: #f3eac2;
}

.menu-page {
    background-color: #f3eac2;
}

.menu-images {
    display: grid;
    border-radius: 17px;
}

header h1 {
    font-family: 'Roboto Slab', serif;
}

.location-images {
    display: grid;
    margin: 20px;
    border-radius: 17px;
    box-shadow: 0px 8px 10px rgb(122, 122, 122);
    width: 100%; 
}

.hours-text {
    color: #ec524b;
    font-family: 'Roboto Slab', serif;
}