@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@300;400;700&display=swap');

.banner {
    margin: 10px;
}

.banner img {
    border-radius: 17px;
    box-shadow: 0px 8px 10px rgb(122, 122, 122);
    width: 100%;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #ec524b;
}

.home-page {
    background-color: #9ad3bc;
}

.home-page-images img {
    border-radius: 17px;
    width: 100%;
    box-shadow: 0px 8px 10px rgb(122, 122, 122);
}

.hours-page {
    background-color: #f3eac2;
}

.menu-page {
    background-color: #f5b461;
}

.menu-images {
    display: grid;
    border-radius: 17px;
}

nav {
    font-family: 'Roboto Slab', serif;
    text-align: right;
}

a {
    text-decoration-line: none;
    color: #ec524b;
}

header {
    display: flex;
    border-bottom: 5px solid #ec524b;
}

header h1 {
    font-family: 'Roboto Slab', serif;
}

nav ul {
    list-style: none;
    
}

nav li {
    display: inline-block;
    padding: 20px 30px;
    color: #ec524b;
}

nav li a:hover {
    border-bottom: 5px solid #ec524b;
}

.location-images {
    display: grid;
    margin: 20px;
    border-radius: 17px;
    box-shadow: 0px 8px 10px rgb(122, 122, 122);
    width: 100%; 
}

.hours-text {
    color: #ec524b;
    font-family: 'Roboto Slab', serif;
}

@media only screen and (min-width:768px){
    .banner, .text, .home-page-images {
        width: 80%;
        margin: auto;
    }
}