@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@300;400;700&display=swap');

.banner {
    border: 10px solid green;
}

.home-page {
    background-color: #9ad3bc;
}

.hours-page {
    background-color: #f3eac2;
}

.menu-page {
    background-color: #f5b461;
}

nav {
    font-family: 'Roboto Slab', serif;
    text-align: right;
}

a {
    text-decoration-line: none;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 30px;
    color: #ec524b;
}

.location-images {
    display: inline-block;
    margin: 20px;
    border-radius: 17%;
    box-shadow: 0px 8px 10px rgb(122, 122, 122); 
}
.hours-text {
    color: #ec524b;
    font-family: 'Roboto Slab', serif;
}